# Virtual Environment
.venv/

# Generated outputs
dist/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
assets/audio/*.wav
assets/audio/*.mp3
assets/audio/*.ogg
assets/audio/*.flac
dist/html/assets/
